{% extends 'datas/../../../templates/layout.html' %}

{% block breadcrum %}


<div class="header bg-indigo pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Resultats et reporting</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Resultats et reporting</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">Nouvelles données</a>
                    <a href="#" class="btn btn-sm btn-neutral">Restauration</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock breadcrum %}




{% block content %}

<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row">

                        <div class="col-lg-12 col-5 text-center">
                            <div class="btn-group">
                                <a href="{% url 'description' %}" class="btn btn-lg btn-info"><i class="ni ni-ui-04"></i>&nbsp;DESCRIPTIF</a>
                                <a href="{% url 'model' %}" class="btn btn-lg btn-danger"><i class="fa fa-database"></i>&nbsp;MODELS</a>
                                <a href="#" class="btn btn-lg btn-warning"><i class="fa fa-eye"></i>&nbsp;APERCU</a>
                                <a href="#" class="btn btn-lg btn-primary"><i class="fa fa-book"></i>&nbsp;RAPPORT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block description %}

                    {% endblock%}
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Team DS</a>
                </div>
            </div>

        </div>
    </footer>
</div>

{% endblock content %}